<h1 id="astroport-name">{{ name }}</h1>

<p id="gate-1">
An element that will help the user to identify the first gate
</p>
<p id="gate-2">
An element that will help the user to identify the second gate
</p>
<p id="gate-3">
An element that will help the user to identify the third gate
</p>
<p id="ship-1">
An element that will display the name of the ship docked at gate 1
</p>
<p id="ship-2">
An element that will display the name of the ship docked at gate 2
</p>
<p id="ship-3">
An element that will display the name of the ship docked at gate 3
</p>
