doctype html
html(lang="en")

body
	h1 Hello Yose
	ul
		li 
			a(id="repository-link", href="https://github.com/jpartogi/node-express-example") Source Repository
		li
			a(id="ping-challenge-link", href="ping") Ping Me
		li
			a(id="contact-me-link", href="contact") Contact Me
